<div class="bst-parentcontainer"><span class="bst-parentheader" title="Boards that contain this board as a nested board">{{label}}</span>
    {{~#each parents~}}
        <a href="{{url}}" class="bst-parentlink">{{name}}</a>
    {{~/each~}}
</div>